[user]
	name = VN
	email = 45521416+enzittonn@users.noreply.github.com


[alias]
	tree = log --graph --date=local --pretty=format:'%Cgreen%ad%Creset %Cred%h%Creset %an: %s %Creset %C(yellow)%d%Creset' --all
	